body {
  font-family: 'Josefin Slab', serif;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  padding-top: 10px;
  list-style: none;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 22px;
  padding-left: 0px;
  margin-bottom: 60px;
  border-bottom: 1px solid lightgrey;
}


.nav li {
  display: inline;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: grey;
  transition-timing-function: 0,5s;
}

li {
  margin-left: 70px;
  margin-right: 70px;
}

.header img {
  margin-top: 30px;
  text-align: center;
  height: 120px;
}

.images {
  text-align: center;
}

.images img:hover {
  opacity: 0.4;
  transition-timing-function: 2s;
}

.images_text {
  display: inline-block;
  background-color: lightgrey;
  position: relative;
  width: 200px;
  top: -50px;
}

.profileimage {
  width: 530px;
  float: left;
  margin-bottom: 50px;
}

.profiletext {
  width: 450px;
  float: right;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  text-align: left;
}

.clear {
  float: none;
}

.contacttext {
  padding-top: 15px;
  text-align: left;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: black;
}

.leavemeamessage {
  list-style: none;
  font-family: 'Josefin Slab', serif;
  text-align: left;
  color: black;
}

.mail {
  font-family: 'Josefin Slab', cursive;
  text-align: left;
  color: black;
  padding-top: 10px;
}

.block {
  display: block;
  padding-top: 10px;
}

input[type=submit] {
    font-family: 'Josefin Slab', cursive;
    font-size: 15px;
    padding:5px 15px;
    padding-top: 10px;
    background:lightgrey;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit]:hover {
    background:#B4B0B0;
}

input[type=submit]:active {
    background:darkgrey;
}


.imgWrap {
  position: relative;
  /*height: 200px;
  width: 257px;*/
}

.imgDescription {
  position: absolute;

  top: -16px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 600px;

  background: rgba(230, 230, 230, 0.5);
  color: black;

  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

/*
.images_portfolio {
  display: inline-block;
  line-height: 200px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.images_portfolio img {
  margin-top: -50px;
  height: 300px;
}
*/

.images_portfolio {
  display: inline-block;
}

.images_portfolio img {
  height: 300px;
}

/* Tablet 768 px*/
@media screen and (max-width: 768px) {
.imgWrap img {
  width: 75%
}

/* Smartphone 630 px*/
@media screen and (max-width: 630px) {
.imgWrap img {
  float: none;
  width: 35%
}
