body {
  font-family: 'Josefin Slab', serif;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 22px;
  padding-left: 0px;
  margin-bottom: 60px;
  border-bottom: 1px solid lightgrey;
}

.nav li {
  display: inline;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: grey;
  transition-timing-function: 0,5s;
}

li {
  padding-left: 83px;
  padding-right: 83px;
}

.header img {
  margin-top: 20px;
  text-align: center;
  height: 150px;
  width: auto;
}

.images {
  text-align: center;
}

.images img:hover {
  opacity: 0.4;
  transition-timing-function: 2s;
}

.images_text {
  display: inline-block;
  background-color: lightgrey;
  position: relative;
  width: 200px;
  top: -50px;
}

.profileimage {
  width: 700px;
  float: left;
  margin-left: 30px;
}

.profiletext {
  width: 700px;
  float: right;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  text-align: left;
}


.profiletext:hover {
  color: #DB7093;
}

.clear {
  float: none;
}

.contacttext {
  padding-top: 15px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: black;
}

.leavemeamessage {
  list-style: none;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  color: black;
}

.mail {
  font-family: 'Josefin Slab', cursive;
  text-align: center;
  color: black;
  padding-top: 10px;
}

.block {
  display: block;
  padding-top: 10px;
}

input[type=submit] {
    font-family: 'Josefin Slab', cursive;
    font-size: 15px;
    padding:5px 15px;
    padding-top: 10px;
    background:lightgrey;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input[type=submit]:hover {
    background:#B4B0B0;
}

input[type=submit]:active {
    background:darkgrey;
}

.inputfield {
  margin-left: auto;
  margin-right: auto;
  width: 340px;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.images_portfolio {
  display: inline-block;
  text-align: center;
}

.images_portfolio img {
  height: 710px;
  margin: 2px;
}

.imgWrap {
  width: 100%;
  height: auto;
  position: relative;
}

.imgDescription {
  position: absolute;

  top: -16px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  margin-left: -1px;
  margin-right: -1px;
  padding-top: 605px;

  background: rgba(230, 230, 230, 0.5);
  color: black;

  visibility: hidden;
  opacity: 0;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: grey;
}

img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 320px) {

  body {
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .nav {
    display: block;
    float: none;
  }
  .nav li {
    display: block;
    font-size: 10px;
    margin-top: 5px;
  }

  .header {
    text-align: center;
    height: 50px;
    width: 30px;
  }

  .header img {
    margin-top: 20px;
    height: 50px;
    width: auto;
  }

  .images {
    text-align: center;
    width: 310px;
  }

  .profileimage {
    display: block;
    width: 310px;
    float: none;
  }

  .profiletext {
    display: block;
    width: 300px;
    float: none;
    font-family: 'Josefin Slab', serif;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
  }

  .images_portfolio {
    float: none;
    display: block;
    overflow: hidden;
    text-align: center;
  }

  .images_portfolio img {
    text-align: center;
    height: 200px;
    width: 150px;
  }

  .imgWrap {
    width: 200px;
    height: auto;
    position: relative;
  }

  .contacttext {
    text-align: center;
  }

  .leavemeamessage {
    text-align: center;
  }

  .mail {
    text-align: center;
  }

  .inputfield {
    text-align: center;

  }

@media screen and (max-width: 768px) {

  .nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }



@media screen and (max-width: 1024px) {

  .wrapper {
    max-width: 1140px;
  }
