body {
  font-family: 'Josefin Slab', serif;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 22px;
  padding-left: 0px;
  margin-bottom: 60px;
  border-bottom: 1px solid lightgrey;
}

.nav li {
  display: inline;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: grey;
  transition-timing-function: 0,5s;
}

li {
  padding-left: 69px;
  padding-right: 69px;
}

.header img {
  margin-top: 30px;
  text-align: center;
  height: 150px;
  width: auto;
}

.images {
  text-align: center;
}

.images img:hover {
  opacity: 0.4;
  transition-timing-function: 2s;
}

.images_text {
  display: inline-block;
  background-color: lightgrey;
  position: relative;
  width: 200px;
  top: -50px;
}

.profileimage {
  width: 510px;
  float: left;
}

.profiletext {
  width: 450px;
  float: right;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  text-align: left;
}

.clear {
  float: none;
}

.contacttext {
  padding-top: 15px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: black;
}

.leavemeamessage {
  list-style: none;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  color: black;
}

.mail {
  font-family: 'Josefin Slab', cursive;
  text-align: center;
  color: black;
  padding-top: 10px;
}

.block {
  display: block;
  padding-top: 10px;
}

input[type=submit] {
    font-family: 'Josefin Slab', cursive;
    font-size: 15px;
    padding:5px 15px;
    padding-top: 10px;
    background:lightgrey;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input[type=submit]:hover {
    background:#B4B0B0;
}

input[type=submit]:active {
    background:darkgrey;
}

.inputfield {
  margin-left: auto;
  margin-right: auto;
  width: 340px;
}


.imgWrap {
  width: 100%;
  height: auto;
  position: relative;
  /*height: 200px;
  width: 257px;*/
}

.imgDescription {
  position: absolute;

  top: -16px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 600px;

  background: rgba(230, 230, 230, 0.5);
  color: black;

  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.footer {
  text-align: center;
  font-size: 12px;
  color: grey;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.images_portfolio {
  display: inline-block;
  height: 300px;
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.images_portfolio img {
  height: 300px;
}

_____responsive


img {
  width: 100%;
  height: auto;
}


@media screen and (min-width: 320px) {
  .nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav li {
    display: block;
  }



@media screen and (min-width: 760px) {

  .nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }



@media screen and (min-width: 1024px) {

  .wrapper {
    max-width: 1140px;
  }
